[submodule "src/extern/zed-ros2-wrapper"]
	path = src/extern/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/extern/zed-ros2-interfaces"]
	path = src/extern/zed-ros2-interfaces
	url = https://github.com/stereolabs/zed-ros2-interfaces.git
[submodule "src/extern/zed-ros2-examples"]
	path = src/extern/zed-ros2-examples
	url = https://github.com/stereolabs/zed-ros2-examples.git
